customtkinter==5.2.2
numpy==2.4.4
pillow==12.1.1
setuptools==81.0.0
sounddevice==0.5.5
silero-vad==6.2.1
pyperclip==1.11.0
requests==2.33.0
opencc==1.2.0
python-uinput==1.0.1
sherpa-onnx==1.12.34
librosa==0.11.0
qwen-asr==0.0.6
keyboard==0.13.5
openai==2.30.0
pyannote-audio==4.0.4
tkinterdnd2==0.4.3